name: Validation and Testing of Rule Sets
on:
  workflow_dispatch:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [15.x]
    steps:
     - uses: actions/checkout@v2
     - name: Install Node
       uses: actions/setup-node@v1
       with:
          node-version: '15.x'
     - name: Run build script
       run:  sh build.sh
     - name: Make compressed value sets available as JSON
       uses: actions/upload-artifact@v2
       with:
         name: compressed-valueSets.json
         path: ${{ github.workspace }}/valuesets/valueSets.json
     - name: Make gathered rule sets (including tests) available as JSON
       uses: actions/upload-artifact@v2
       with:
         name: all-rule-sets-with-tests.json
         path: ${{ github.workspace }}/out/all-rule-sets-with-tests.json
     - name: Make result of executing all rules on the test data available as JSON artifact
       uses: actions/upload-artifact@v2
       with:
         name: rules-on-testData.json
         path: ${{ github.workspace }}/out/rules-on-testData.json
     - name: Publish generated HTML
       uses: actions/upload-artifact@v2
       with:
          name: rules-html
          path: ${{ github.workspace }}/html
